# Node modules
node_modules/

# Build output
dist/
*.tsbuildinfo
*.tgz

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.swp

# Test/coverage
coverage/
reports/

# Barrelsby cache
barrelsby.log

# Misc
.DS_Store
Thumbs.db

#npm
.npmrc
